@charset "utf-8";

body {
    width: 1000px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d1bea6;
    flex: auto;
}

h1 {
    text-align: center;
    font-size: 25px;
}

h2 {
    text-align: center;
    font-size: 12px;
}

p {
    text-align: center;
}

#mainimg {
    display: block;
    margin: auto;
    border: 2px solid #200a0a; 
    flex:auto
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  background-color: #200a0a;
  width: 604px;
  
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 1.6em;
 
}

ul li a:hover {
  background-color: #121c38;
  text-decoration: underline;
  line-height: 1.6em;
  
}

.active {
    color: rgb(59, 140, 165);
    font-weight: bolder;
    line-height: 1.6em;
} 

footer {
    padding: 25px 0;
    text-align: center;
    font-size: .7em;
}
